button {
  padding: 1.5em 3em;
  font-size: 1.3086150490730644vh;
  text-transform: uppercase;
  letter-spacing: 0.27262813522355506vh;
  font-weight: 500;
  color: #000;
  background-color: rgb(91, 95, 150);
  border: none;
  border-radius: 4.907306434023991vh;
  box-shadow: 0px 0.8724100327153762vh 1.6357688113413305vh rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 1.6357688113413305vh 2.1810250817884405vh rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-0.7633587786259542vh);
}

button:active {
  transform: translateY(-0.10905125408942203vh);
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
  animation: fadeIn 500ms reverse;
}

body::-webkit-scrollbar {
  width: 0em;
}


.titlee{
    text-align: center;
    margin-top: 3.271537622682661vh;
    font-size: 5vw;
    user-select: none;
}

.card {
    position: relative;
    width: 15vw;
    height: 38vh;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 2.1810250817884405vh;
    transition: all .3s;
   }
   
   .card2 {
    width: 15vw;
    height: 38vh;
    background-color: #1a1a1a;
    border-radius:1.0905125408942202vh;
    transition: all .2s;
    position: relative;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 2.1810250817884405vh;
   }
   
   .card:hover {
    box-shadow: 0px 0px 3.271537622682661vh 0.10905125408942203vh rgba(0, 255, 117, 0.30);
   }
   
   .cardtitle{
    text-align: center;
    user-select: none;
    font-size: 1.2vw;
   }
   .cardtitlee{
    text-align: center;
    user-select: none;
    font-size: 1.2vw;
   }
   .viewbut{
    position: relative;
    display: block;
    margin: 30vh auto;
   }


.imgproj1{
    position: relative;
    display: block;
    margin: -27vh auto;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
}

.projlink{
    text-decoration: none;
}

.homebutton{
    margin-top: 37vh;
}

.allcards{
	height: 20vh;
	display: grid;
	grid-template-columns: 5.452562704471101vh 5.452562704471101vh 5.452562704471101vh 5.452562704471101vh;
	grid-column-gap: 50vh;
    margin-top: 21.810250817884405vh;
    margin-left:3vw;
}