button {
    padding: 1.5em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(91, 95, 150);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  
  body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
    animation: fadeIn 500ms reverse;
  }
  
  body::-webkit-scrollbar {
    width: 0em;
  }

.titlee{
    text-align: center;
    margin-top: 30px;
    font-size: 5vw;
    user-select: none;
}

.card {
    position: relative;
    width: 15vw;
    height: 38vh;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2 {
    width: 15vw;
    height: 38vh;
    background-color: #1a1a1a;
    border-radius:10px;
    transition: all .2s;
    position: relative;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }
   
   .cardtitle{
    text-align: center;
    user-select: none;
    font-size: 1.2vw;
   }
   .cardtitlee{
    text-align: center;
    user-select: none;
    font-size: 1.2vw;
    margin-top: -40px;
   }
   .viewbut{
    position: relative;
    display: block;
    margin: 30vh auto;
   }

.imgproj1{
    position: relative;
    display: block;
    margin: -27vh auto;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
}

.projlink{
    text-decoration: none;
}

.homebutton{
    margin-top: 35vh;
}

.allcards{
	height: 20vh;
	display: grid;
	grid-template-columns: 50px 50px 50px 50px;
	grid-column-gap: 50vh;
    margin-top: 200px;
    margin-left:3vw;
}